<md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <ng-md-icon icon="menu" size="36" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" ></ng-md-icon>
        <span flex-xs="10" ></span>
        <h3>Mapa do conhecimento</h3>
    </div>
</md-toolbar>

<md-content class="md-padding" ng-init="currentNavItem = 'page3'">
    <md-nav-bar
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links" >
        <md-nav-item md-nav-click="goto('page3')" name="page3">
            MAPA DE INFLUENCIA
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page4">
            GERAL
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page1')" name="page1">
            SEU PERFIL
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">
            TIMES
        </md-nav-item>
    </md-nav-bar>
    <div class="ext-content">
        <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column" ng-show="currentNavItem === 'page4'">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Usabilidade do conhecimento</span>
                            <span class="md-subhead">Grafico de evolução por tecnologia</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <canvas id="base" class="chart-bar" 
                                legend="true" 
                                chart-data="data1" chart-labels="labels" chart-colors="colors"
                                chart-dataset-override="datasetOverride" >
                        </canvas> 
                    </md-card-actions>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column" ng-show="currentNavItem === 'page4'">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Conhecimento da Empresa</span>
                            <span class="md-subhead">Quantidade de conhecimento na empresa por framework</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <canvas id="polar-area" class="chart chart-polar-area" 
                                legend="true"
                                chart-data="data" chart-labels="labels" >
                        </canvas> 
                    </md-card-actions>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="75" layout="column" ng-show="currentNavItem === 'page3'">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Mapa de influencia</span>
                            <span class="md-subhead">Grafico de recomendações</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <div id="mynetwork" >
                            <vis-network data="data5" options="options5" ></vis-network> 
                        </div>
                    </md-card-actions>
                </md-card>
            </div>

            <div flex-xs flex-gt-xs="25" layout="column" ng-show="currentNavItem === 'page3'">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Conhecimento da Empresa</span>
                            <span class="md-subhead">Quantidade de conhecimento na empresa por framework</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-switch ng-model="data.cb1" aria-label="Switch 1">
                            Switch 1
                        </md-switch>

                        <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
                            Switch 2 
                        </md-switch>

                    </md-card-actions>
                </md-card>
            </div>

            <!--            <div ng-show="currentNavItem === 'page3'">
                            <div id="mynetwork" >
                                <vis-network data="data5" options="options5" ></vis-network> 
                            </div>
                        </div>-->

            <!--            <md-content class="md-padding">
                            <h1 class="md-display-2">Tab One</h1>
                            <div style=" display: block;
                                 width: 490px;
                                 height: 245px;
                                 max-width: 100%;">
                                <vis-network data="data5" options="options5" ></vis-network> 
                            </div>
                        </md-content>-->

            <!--            <div flex-xs flex-gt-xs="33" layout="column" ng-show="currentNavItem === 'page4'">
                            <md-card>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Level dos times</span>
                                        <span class="md-subhead">Level de conhecimento por time</span>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-content layout="row" layout-align="space-between">
                                    <div class="md-media-xl card-media"></div>
                                    <div style=" display: block;
                                         width: 490px;
                                         height: 245px;
                                         max-width: 100%;">
                                        <vis-network data="data5" options="options5" ></vis-network> 
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>-->



            <!--            <md-content class="md-padding" layout-xs="column" layout="row"  ng-show="currentNavItem === 'page3'">
            
                        </md-content>-->


            <div flex-xs flex-gt-xs="50" layout="column" ng-show="currentNavItem === 'page1' || currentNavItem === 'page2'">
                <md-card ng-show="currentNavItem === 'page1'">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Habilidades Pessoais</span>
                            <span class="md-subhead">Suas habilidades</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <canvas id="radar" class="chart chart-radar" legend="true"
                                chart-data="data" chart-options="options" chart-labels="labels">
                        </canvas>
                    </md-card-actions>
                </md-card>

                <md-card  ng-show="currentNavItem === 'page2'">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Level dos times</span>
                            <span class="md-subhead">Level de conhecimento por time</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                        <div class="md-media-xl card-media"></div>
                        <canvas id="base" class="chart-bubble" chart-data="datas"
                                legend="true"
                                chart-series="labels" > 
                        </canvas> 
                    </md-card-content>
                </md-card>


            </div>
        </md-content>
    </div>
</md-content>
