<!doctype html>
<div class="android-content mdl-layout__content" style="margin-top: 90px;" ng-controller="GroupController">
    <div class="row">
        <div class="layer tile" >
            <div class="tile__name" >Usuários</div>
            <div class="tile__list" as-sortable="sortableCloneOptions" data-ng-model="userss"  style="border-right: 1px solid #3b5eb2; padding-right: 10px;">
                <div ng-repeat="team in userss" as-sortable-item>
                    <div as-sortable-item-handle>
                        <img src= {{team.img}} />
                        {{team.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="layer tile" ng-repeat="team in teams" >
            <div class="tile__name" >{{team.name}}</div>
            <div as-sortable="sortableOptions" data-ng-model="team.users">
                <div ng-repeat="user in team.users" as-sortable-item>
                    <div class="tile__list" as-sortable-item-handle>
                        <img src= {{user.img}} />
                        {{user.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
