<!doctype html>
<!doctype html>
<md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <ng-md-icon icon="menu" size="36" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" ></ng-md-icon>
        <span flex-xs="10" ></span>
        <h3>Times</h3>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <div layout="row">
        <div flex>
            <md-card>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" layout >
                            <!--<md-icon md-svg-icon="person"></md-icon>-->
                            <!--<span class="no-select">Swipe me to the left</span>-->
                            <div style="border-radius: 50%;
                                 width: 64px;
                                 height: 64px;
                                 overflow: hidden;">
                                <img src="images/xfoto.webp" alt="Usuario" >
                            </div>
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline title">JONH DOE</span>
                        <span class="md-subhead description">Web Designer &amp; Mobile Application Developer</span>
                        <!--<h1 class="title">JONH DOE</h1>-->
                        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                            <div>
                                <md-input-container>
                                    <label>Rank</label>
                                    <input ng-model="user.title" ng-value="user.title='NIVEL 2'">
                                </md-input-container>

                                <md-input-container>
                                    <label>Email</label>
                                    <input ng-model="user.email" type="email">
                                </md-input-container>

                                <md-input-container layout-padding>
                                    <ng-md-icon icon="linkedin-box" size="32" style="fill: #3b5eb2" ></ng-md-icon>
                                    <ng-md-icon icon="github-circle" size="32" ></ng-md-icon>
                                    <ng-md-icon icon="hangouts" size="32" style="fill: #149f5c"></ng-md-icon>
                                </md-input-container>
                            </div>
                        </md-content>

                        <md-content layout-padding>
                            <form name="userForm">

                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Empresa</label>
                                        <input ng-model="user.company" disabled ng-value="user.company='Logic solution'">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>Admissão</label>
                                        <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Apelido</label>
                                        <input ng-model="user.firstName">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Telefone</label>
                                        <input ng-model="user.phone" >
                                    </md-input-container>
                                </div>

                                <md-input-container class="md-block">
                                    <label>Resumo</label>
                                    <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </form>
                        </md-content>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Conquistas</span>
                        <span class="md-subhead">Suas conquistas até o momento</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <ng-md-icon icon="tag_faces" size="64" style="fill: #3b5eb2" ></ng-md-icon>
                    <ng-md-icon icon="sentiment_very_satisfied" size="64" style="fill: #265a88"></ng-md-icon>
                    <ng-md-icon icon="whatshot" size="64" style="fill: #ac2925"></ng-md-icon>
                </md-card-actions>
            </md-card>
        </div>
        <md-divider></md-divider>
        <div flex layout="row">
            <div class="ext-content">

                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Habilidades Pessoais</span>
                            <span class="md-subhead">Suas habilidades</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media> 
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <canvas id="radar" class="chart chart-radar" legend="true"  style="height: 310px"
                                chart-data="data" chart-options="options" chart-labels="labels">
                        </canvas>
                    </md-card-actions>
                </md-card> 
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Ultimos feedacks</span>
                            <span class="md-subhead">Ultimos feedacks informados no processo 360</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                        <md-list flex>
                            <md-subheader class="md-no-sticky">2 novos feedbacks</md-subheader>
                            <md-list-item class="md-3-line md-long-text" ng-repeat="item in todos" ng-click="null">
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                <div class="md-list-item-text" >
                                    <h3>{{ item.who}}</h3>
                                    <h4>{{ item.what}}</h4>
                                    <p style="width: 100%">{{ item.notes}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <!--        <div flex layout="row">
                    <div class="ext-content">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Conquistas</span>
                                    <span class="md-subhead">Suas conquistas até o momento</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <ng-md-icon icon="tag_faces" size="64" style="fill: #3b5eb2" ></ng-md-icon>
                                <ng-md-icon icon="sentiment_very_satisfied" size="64" style="fill: #265a88"></ng-md-icon>
                                <ng-md-icon icon="whatshot" size="64" style="fill: #ac2925"></ng-md-icon>
                            </md-card-actions>
                        </md-card>
        
                    </div>
                </div>-->
    </div>


</md-content>
